

  <ion-footer>
    <footer class="top">
  <div class = "links">
    <div>
      <h2>Plataform</h2>
      <a>Directus core</a>
    </div>
    <div>
      <h2>Cloud</h2>
      <a>Directus core</a>
    </div>
  </div>
</footer>
<footer class="bottom">
  <div class = "legal">
    <span>2023 Todos los derechos son reservados</span>
    <a>Licencia</a>
  </div>
    <div class = "links">
      <a class="fa-brands fa-github"></a>
      <a class="fa-brands fa-linkedin"></a>
      <a class="fa-brands fa-docker"></a>

  </div>
</footer>
</ion-footer>