<app-header nombrepage="forget-password"></app-header> 
<ion-content>
  <div class="login-section ion-padding" [formGroup]="onPassForForm">
    <div class="heading ion-padding">
      <h1>Recupera tu contraseña</h1>
      <p>Ingresa tu correo para recuperar tu contraseña</p>
    </div>
    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-item class="ion-item">
        <ion-icon name = "mail-outline"></ion-icon>
        
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
      </div>
      
    </div>
    <div class="action-buttons ion-paddig"> 
      <ion-button [disabled]="!onPassForForm.valid" (click)="doSend()" size="large" class="login-button"> Enviar </ion-button>
      <a routerLink="/forget-password"><p>No tienes una cuenta?</p></a>
      <ion-button class = "signup-button" size="large" fill="outline" routerLink="/register">Registrate </ion-button>
    </div>
  </div>
  <app-footer nombrepage="Forgert-password"></app-footer>
  </ion-content>
  